header[role=banner] {
    display: block;
    max-width: 100px;
    zoom:70%;
}

nav[role=navigation] a div[dir=auto] {
    display: none;
}
div[role=tablist] a div[dir=auto] {
    display: inline;
}
div[data-testid=AppTabBar_More_Menu] div[dir=auto] {
    display: none;
}

div[data-testid=primaryColumn] {
    max-width: 900px;
}

div[data-testid=sidebarColumn] {
    zoom: 50%;
}
